.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8px;
}

.bg-home {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0; /* Define o vídeo no topo da div */
    left: 0;
    width: 100%;
    height: 70vh; /* Define a altura do vídeo, ajuste conforme necessário */
    object-fit: cover; /* Cobre a largura, mas mantém a proporção do vídeo */
    z-index: -1;
}

.bg-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero {
    color: #fff;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

.hero h1 {
    text-align: center;
    line-height: 150%;
    max-width: 940px;
    font-size: 46px;
}

.hero p {
    text-align: center;
    margin: 14px 0;
}

.button-contact {
    padding: 14px 28px;
    color: #fff;
    background-color: #f00;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px) {
    .hero {
        min-height: 60vh;
    }

    .hero h1 {
        font-size: 34px;
        padding: 0 14px;
        width: 100%;
    }

    .hero p {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
    }
}









.slideshow-container {
    position: relative;
    width: 400px; /* Largura do container */
    height: 800px; /* Altura do container */
}

.about-img-container {
    display: none; /* Esconde todas as imagens inicialmente */
    position: absolute;
    width: 100%; /* Largura do container ajustada */
    height: 100%; /* Altura do container ajustada */
}

.about-img-container.active {
    display: block; /* Exibe apenas a imagem ativa */
}

.about {
    background-color: $white-normal;
    overflow: hidden;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;
}

.about-content div {
    flex: 1;
}

.about-img {
    width: 400px;   /* Largura da imagem */
    height: 800px; /* Altura da imagem */
    object-fit: cover; /* Ajusta a imagem para preencher o espaço corretamente */
}

.about-description {
    h2 {
        font-size: 38px;
        margin-bottom: 24px;
        font-weight: 200;
    }

    p {
        margin-bottom: 30px;
        line-height: 150%;
        font-weight: 100;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .slideshow-container {
       
        width: 100%; /* Largura do container */
        height: 800px; /* Altura do container */
    }

    .about-img {
        width: 100%;   /* Largura da imagem */
        height: 800px; /* Altura da imagem */
    }

    .about {
        background-color: $white-normal;
        overflow: hidden;
        height: 100vh;
    }

    .about {
        background-color: $white-normal;
        overflow: hidden;
        height: 130vh;
    }
}












.services {
    background-color: $white-normal;
    color: $secondary-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.services-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
}

.services-content p {
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;
}

/* Container para os elementos */
.haircusts {
    width: 80%;
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha para criar 2 ou 3 linhas conforme necessário */
    justify-content: center;
    gap: 5px; /* Espaçamento entre os itens */
}

.haircust {
    width: 30%; /* No desktop, 3 itens por linha */
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.icons-service {
    fill: lightblue;
    filter: invert(64%) sepia(45%) saturate(611%) hue-rotate(168deg) brightness(94%) contrast(97%);
    width: 50px;
}

.haircust-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background-color: $white-normal;
}

.haircust-info strong {
    color: rgb(0, 91, 121);
    margin: 10px;
}

.haircust-info p {
    font-size: 12px;
    font-weight: 400;
    width: 250px;
    text-align: center;
}

.swiper {
    height: 500px;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Mobile layout - 2 itens por linha */
@media screen and (max-width: 768px) {
    .haircusts {
        width: 100%;
        gap: 20px; /* Ajusta o espaçamento entre os itens no mobile */
    }

    .haircust {
        margin: 0;
        width: 45%; /* 2 itens por linha no mobile */
    }

    .services-content {
        order: 2; /* Coloca o conteúdo para baixo no mobile */
    }

    .haircusts {
        order: 1; /* Os 5 itens ficam acima no mobile */
    }
}

















.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: $white-normal;
}

.footer-icons{
    display: flex;
    gap: 8px;
    color: $white-normal;
}

.btn-whatsapp{

    position: fixed;
    bottom: 14px;
    right: 14px;
    z-index: 99;
    
    img{
        max-width: 74px;
        transition: transform 0.4s;

    }

    img:hover{
        transform: scale(1.1);
    }
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -100px;
    background-color: $secondary-normal;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.4s;
}


.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

@media screen and ( max-width: 768px){
    .btn-whatsapp{
        img{
            max-width: 64px;
        }
    }
}