.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 8px;
}

.bg-home {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0; /* Define o vídeo no topo da div */
    left: 0;
    width: 100%;
    height: 70vh; /* Define a altura do vídeo, ajuste conforme necessário */
    object-fit: cover; /* Cobre a largura, mas mantém a proporção do vídeo */
    z-index: -1;
}

.bg-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    z-index: 0;
}

.hero {
    color: #fff;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

.hero h1 {
    text-align: center;
    line-height: 150%;
    max-width: 940px;
    font-size: 46px;
}

.hero p {
    text-align: center;
    margin: 14px 0;
}

.button-contact {
    padding: 14px 28px;
    color: #fff;
    background-color: #f00;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
}

@media screen and (max-width: 850px) {
    .hero {
        min-height: 60vh;
    }

    .hero h1 {
        font-size: 34px;
        padding: 0 14px;
        width: 100%;
    }

    .hero p {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
    }
}




.faixa{
    background-color: #fdc604;
    height: 1vh;
}





.conteudo-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}









.about {
    background-color: $white-normal;
    overflow: hidden;
    width: 50%;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;
}

.about-content div {
    flex: 1;
}

.about-description  {
    text-align: center;
    width: 80%;
}


.about-description {
    h2 {
        font-size: 38px;
        margin-bottom: 24px;
        font-weight: 200;
        text-align: center;
        
    }

    p {
        margin-bottom: 30px;
        line-height: 100%;
        font-weight: 100;
        font-size: 18px;
        text-align: justify;
    }
}



.slider {
    margin: 0 auto;
    width: 800px; /* Largura do slider */
    height: 400px; /* Altura do slider */
    overflow: hidden; /* Oculta partes das imagens que saem do contêiner */
    position: relative; /* Para a navegação manual posicionada */


    border-radius: 15px; /* Borda arredondada */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
}

.slides {
    display: flex; /* Flexbox para o layout dos slides */
    transition: transform 0.5s ease; /* Transição suave */
    width: 100%; /* Mantém a largura do contêiner */
}

.slide {
    min-width: 100%; /* Cada slide ocupa 100% do contêiner */
    height: 100%; /* Altura do slide igual à do contêiner */
    display: flex; /* Flexbox para centrar a imagem */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    
}

.slide img {
    max-width: 100%; /* A imagem pode ter até 100% da largura do slide */
    max-height: 100%; /* A imagem pode ter até 100% da altura do slide */
    object-fit: contain; /* Ajusta a imagem para caber no slide sem distorção */
    display: block; /* Remove espaço abaixo da imagem */
}


@media screen and (min-width: 2000px){

    

    .conteudo-about{
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider {
        width: 1200px;
        height: 600px; /* Altura do slider */
        margin: 0;
    }

    .about-description {
        p {
            width: 100%;
            font-size: 24px;
        }

        h2 {
            width: 100%;
            font-size: 39px;
        }
    } 
}



@media screen and (min-width: 2800px){

    

    .conteudo-about{
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider {
        width: 1500px;
        height: 900px; /* Altura do slider */
        margin: 0;
    }

    .about-description {
        p {
            width: 100%;
            font-size: 35px;
        }

        h2 {
            width: 100%;
            font-size: 50px;
        }
    } 
}


@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .slideshow-container {
       
        width: 100%; 
        height: 800px;
    }

    .about-img {
        width: 100%;   /* Largura da imagem */
        height: 800px; /* Altura da imagem */
    }

    .about {
        background-color: $white-normal;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }



    .about-description {
        p {
            width: 100%;
            font-size: 10px;
        }

        h2 {
            width: 100%;
            font-size: 50px;
        }
    } 

    .slider {
        width: 100%; /* Ocupa 100% da largura do contêiner */
        height: auto; /* Permite que a altura se ajuste automaticamente */
    }

    .slides {
        height: auto; /* Permite que os slides se ajustem automaticamente */
    }

    .slide img {
      
        width: 100%; /* A imagem ocupa 100% da largura do slide */
        height: auto; /* Mantém a proporção da imagem */
        object-fit: cover; 
    }
}

.slider-2 {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.slides-2 {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.slide-2 {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

@media screen and (max-width: 768px) {
    .slider-2 {
        width: 100%;
        height: auto;
    }

    .slides-2 {
        height: auto;
    }

    .slide-2 img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
















.services {
    background-color: $white-normal;
    color: $secondary-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.services-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
}

.services-content p {
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;
}

/* Container para os elementos */
.haircusts {
    width: 90%;
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha para criar 2 ou 3 linhas conforme necessário */
    justify-content: center;
    gap: 5px; /* Espaçamento entre os itens */
}

.haircust {
    width: 30%; /* No desktop, 3 itens por linha */
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.icons-service {
    filter: invert(24%) sepia(65%) saturate(600%) hue-rotate(102deg) brightness(95%) contrast(100%);
    width: 50px;
}


.haircust-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: $white-normal;
}

.haircust-info strong {
    color: #4da330;
    margin: 10px;
    text-align: center;
}



.swiper {
    height: 500px;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Mobile layout - 2 itens por linha */
@media screen and (max-width: 768px) {
    .haircusts {
        width: 100%;
        gap: 20px; /* Ajusta o espaçamento entre os itens no mobile */
    }

    .haircust {
        margin: 0;
        width: 45%; /* 2 itens por linha no mobile */
    }

    .services-content {
        order: 2; /* Coloca o conteúdo para baixo no mobile */
    }

    .haircusts {
        order: 1; /* Os 5 itens ficam acima no mobile */
    }
}





.card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#51a660, #36a3aa) ;
    padding: 20px 10px;
    overflow: hidden;

}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    width: 400px;
    display: block;
    background-color: #FFF;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover{
    border-color: #5372f0;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 /9 ;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link  .badge{
    color: #5270f0;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background-color: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
    padding: 10px;
}


.card-list .card-link  .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5272f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
}



.card-list .card-link:hover .card-button{
    color: #fff;
    background: #5372f0;
}


.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#51a660, #36a3aa);
    position: relative; /* Necessário para o posicionamento absoluto dos botões */
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background-color: #FFF;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: #5372f0;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #5270f0;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background-color: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
    padding: 10px;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5272f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: #5372f0;
}

/* Estilos para os botões do carrossel */
.swiper-button-prev,
.swiper-button-next {
    position: absolute; /* Para posicionar fora do fluxo normal */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta a posição para ficar exatamente no centro */
    z-index: 10; /* Certifica-se de que os botões estejam acima de outros elementos */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    border: 1px solid #ccc; /* Borda para os botões */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 5px; /* Espaçamento interno */
    cursor: pointer; /* Mãozinha ao passar o mouse */
}

/* Distância dos botões da lateral */
.swiper-button-prev {
    left: 10px; /* Distância da esquerda */
}

.swiper-button-next {
    right: 10px; /* Distância da direita */
}












.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: $white-normal;
}

.footer-icons{
    display: flex;
    gap: 8px;
    color: $white-normal;
}

.btn-whatsapp{

    position: fixed;
    bottom: 14px;
    right: 14px;
    z-index: 99;
    
    img{
        max-width: 74px;
        transition: transform 0.4s;

    }

    img:hover{
        transform: scale(1.1);
    }
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -100px;
    background-color: $secondary-normal;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.4s;
}


.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

@media screen and ( max-width: 768px){
    .btn-whatsapp{
        img{
            max-width: 64px;
        }
    }
}